<head>
    <title></title>
</head>
<body>
    <nav>
        <ul>
            {%block nav%}
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Help</a></li>
            {% endblock %}
        </ul>
    </nav>    

    {% block header %}
    
    This is the default content
    
    {% endblock %}

    <section class="left">
    {% block left %}
    
    {% endblock %}
    </section>

    <section class="right">
    {% block right %}
    
    This is right side
    
    {% endblock %}
    </section>    
</body>
